/c&tb/
/programming-languages/wip/
/programming-languages/**/test_string.py
/programming-languages/**/test_uint.py

.obsidian/
.vscode/
.idea/

classes/
__pycache__/
.venv/

bcomp-ng.jar
bcomp.jar

.~lock*
*secret*

*.o
*.elf