BreakBeforeBraces: Attach
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0
ContinuationIndentWidth: 4
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: BlockIndent
SpaceAfterCStyleCast: false
IndentCaseLabels: true
